{% extends 'index.html' %}
{% block title %}Camps{% endblock %}
{% block content %}
<div class="camp container">
	<div class="row">
	  	{% for camp in camps %}
	  	{% if camp.confirm is True %}
	  <div class="col-sm-4">
	    <div class="card text-right">
	      <div class="card-body">
	        <h5 class="card-title">{{ camp.title }}</h5>
	        <p class="card-text">{{ camp.location }}</p>
	        <p class="card-text">{{ camp.date }}</p>
	        <h6 class="card-text">By - {{ camp.organizer }}</h6>
	        <p class="card-text">Contact No.: {{ camp.contact_no }}</p>
	      </div>
	    </div>
	  </div>
	  	{% endif %}
	  	{% endfor %}
	</div>
	<center>
	<div>
	  	<form action="{% url 'camp' %}" method="POST">
	  		<h3 style="color: darkred;">Fill Form For Blood Camp</h3>
	  		 {% csrf_token %} 
	  		 <input class="form-control" type="text" placeholder="Title" name="title" required=""><br>
	  		 <input class="form-control" type="text" placeholder="Location" name="location" required=""><br>
	  		 <input class="form-control" type="text" placeholder="Organizer" name="organizer"required><br>
	  		 <input class="form-control" id="phone" type="tel" placeholder="Contact" name="contact_no" pattern="[0-9]{10}" required=""><br>
	  		 <input class="form-control" type="date" placeholder="Date" name="date" required><br>
	  		<button type="submit" class="btn btn-primary">Submit</button>
	  	</form>
	</div>
	</center>
</div>
{% endblock %}