{% extends 'index.html' %}
{% block title %}Admin Panel{% endblock %}
{% block content %}
<div class="admin-panel">
	<form  action="" method="POST" enctype="multipart/fprm-data">
		 {% csrf_token %} 
	<div class="row">
		{{users.management_form}}
		{% for u in users %}
		{{u.id}}
		<div class="col" style="margin: 10px; background-color: tomato; border-radius: 5px; text-align: center; padding: 10px; color: white;">
			<div class="row">
				<div class="col">
					<b>Username</b> : {{u.username}}
				</div>
				<div class="col">
					<b>First Name</b> : {{u.first_name}}
				</div>
				<div class="col">
					<b>Last Name</b> : {{u.last_name}}
				</div>
				<div class="col">
					<b>Email</b> : {{u.email}}
				</div>
				<div class="col">
					<b>Staff</b> :<br> {{u.is_staff}}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="row">
		<div class="col" style="margin: 10px; background-color: tomato; border-radius: 5px; text-align: left; padding: 10px; color: white;">
			{{profile.management_form}}
			{% for p in profile %}
			{{p.id}}
		  <div class="row">
			<div class="col">
				Phone : {{p.phone}}
			</div>
			<div class="col">
				Gender : {{p.gender}}
			</div>
			<div class="col">
				D.O.B : {{p.dob}}
			</div>
		  </div>
		  <div class="row" style="margin: 20px">
			<div class="col-8">
				Perment Address : {{p.per_add}}
			</div>
			<div class="col" style="margin-top: 20px">
				Profile Picture : {{p.profile_pic}}
			</div>
			<div class="col-8">
				Temporary Address : {{p.temp_add}}
			</div>	
		  </div>
			{% endfor %}
		</div>
	</div>
	<div class="row">
			{{members.management_form}}
			{% for m in members %}
			<div class="col" style="margin: 10px; background-color: tomato; border-radius: 5px; text-align: left; padding: 10px; color: white;">
			{{m.as_p}}
			</div>
			{% endfor %}
	</div>
	<center><button class="btn btn-primary" type="submit" style="margin-bottom: 10px">Submit</button>
		<a href="{% url 'adminpanel' %}" class="btn btn-secondary" style="margin-bottom: 10px;">Back</a>
	</center>
	</form>
</div>
{% endblock %}